.Container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(104, 136, 252, 0.5);
  background-image: linear-gradient(to bottom, rgb(104, 136, 252, 0.8), rgb(104, 136, 252, 0.1));
  overflow: auto;
}
.InnerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 370px;
  min-height: 520px;
}
.FormContainer {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  position: relative;
  height: 500px;
  width: 400px;
}
.LoginHeader, .SignupHeader {
  display: block;
  width: 100%;
  color: rgb(104, 136, 252);
  font-size: 45px;
  text-align: center;
  cursor: default;
  margin: 0 0 40px;
}
.SignupHeader {
  margin: -10px 0 20px;
}
.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
}
.Form input {
  outline: 0;
  background: #f2f2f2;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 3px;
  z-index: 10;
}
.LoginBtn {
  text-transform: uppercase;
  outline: 0;
  background: rgb(104, 136, 252, 0.8);
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  display: block;
  border-radius: 3px;
  transition: background 250ms;
}
.LoginBtn:hover {
  background: rgb(104, 136, 252);
  transition: background 250ms;
}
.FormBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  transition: transform 600ms ease-out;
}
.Move {
  transform: translateY(25px);
}
.Demo {
  color: rgb(139, 139, 139);
  font-size: 18px;
  cursor: default;
  margin-bottom: 30px;
}
.Demo a {
  color: rgb(104, 136, 252);
  text-decoration: none;
  transition: color 250ms;
}
.Demo a:hover, .Link a:hover {
  color: rgb(45, 88, 242);
  transition: color 250ms;
}
.Link {
  color: rgb(139, 139, 139);
  font-size: 15px;
  cursor: default;
  margin: 0;
  position: absolute;
  bottom: 20px;
}
.Link a {
  color: rgb(104, 136, 252);
  text-decoration: none;
}
.Remember {
  margin-top: 15px;
  transition: transform 600ms ease-out;
}
.Remember p {
  cursor: default;
  font-size: 15px;
  color: rgb(139, 139, 139);
  display: inline;
}
.LoginErrMsg, .SignupErrMsg, .LoginHideErrMsg, .SignupHideErrMsg {
  font-size: 14px;
  text-align: center;
  color: rgb(139, 139, 139);
  cursor: default;
  transition: all 600ms;
  position: absolute;
  top: 277px;
  width: 100%;
  padding: 0 10px;
}
.SignupErrMsg, .SignupHideErrMsg {
  top: 310px;
}
.LoginHideErrMsg, .SignupHideErrMsg {
  opacity: 0;
  visibility: hidden;
  transition: all 600ms;
}
@media (max-width: 420px) {
  .FormContainer {
    width: 350px;
  }
}
