.Container {
  position: absolute;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: rgb(104, 136, 252, 0.5);
  background-image: linear-gradient(to bottom, rgb(104, 136, 252, 0.8), rgb(104, 136, 252, 0.1));
}
.FormContainer {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  margin: auto;
  width: 400px;
  padding: 60px;
  height: 400px;
}
.Header {
  display: block;
  width: 100%;
  color: rgb(104, 136, 252);
  font-size: 45px;
  text-align: center;
  cursor: default;
  margin: -10px auto 40px auto;
}
.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
.Form input {
  outline: 0;
  background: #f2f2f2;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 3px;
  z-index: 10;
}
.Form button {
  text-transform: uppercase;
  outline: 0;
  background-color: rgb(104, 136, 252, 0.8);
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  display: block;
  border-radius: 3px;
  transition: transform 600ms ease-out;
}
.Form button:hover {
  background-color: rgb(104, 136, 252);
}
.Demo {
  margin: -40px 0 30px 0;
  color: rgb(139, 139, 139);
  font-size: 18px;
  cursor: default;
}
.Demo a {
  color: rgb(104, 136, 252);
  text-decoration: none;
}
.MessageLogin {
  margin-top: 36px;
  color: rgb(139, 139, 139);
  font-size: 15px;
  cursor: default;
}
.MessageSignup {
  margin-top: 100px;
  color: rgb(139, 139, 139);
  font-size: 15px;
  cursor: default;
}
.MessageLogin a, .MessageSignup a {
  color: rgb(104, 136, 252);
  text-decoration: none;
}
.Remember {
  margin-top: 15px;
  transition: transform 600ms ease-out;
}
.Remember p {
  cursor: default;
  font-size: 15px;
  color: rgb(139, 139, 139);
  display: inline;
}
.ErrorMsg {
  cursor: default;
  position: relative;
  top: -45px;
  margin-bottom: -15px;
  z-index: 5;
  font-size: 14.5px;
  color: rgb(139, 139, 139);
  max-width: 298px;
  transition: transform 600ms ease-out;
}
.MoveError {
  transform: translateY(25px);
  margin-bottom: -35px;
}
.Move {
  transform: translateY(25px);
}

@media (max-width: 600px) {
  .FormContainer {
    width: 300px;
  }
}
@media (max-width: 450px) {
  .FormContainer {
    width: 200px;
  }
  .MessageSignup {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Form {
    width: 250px;
  }
  .ErrorMsg {
    font-size: 14px;
  }
}
