.OptionsPanel {
  position: absolute;
  z-index: 10;
  top: 50px;
  right: 15px;
  width: 150px;
  background-color: white;
  box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.25);
  padding-top: 12px;
  border-radius: 3px;
}
.OptionsPanel div {
  height: 30px;
  font-size: 14px;
  font-weight: 500;
  padding-left: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.OptionsPanel div:hover {
  background-color: rgb(173, 172, 180, 0.2);
}
@media (max-width: 450px) {
  .OptionsPanel {
    right: 5px;
    top: 45px;
  }
}
