.Button {
  margin: 10px 0 8px 17.5px;
  background-color: inherit;
  color: #eee;
  border: 0;
  border-radius: 3px;
  font-size: 15px;
  display: flex;
  align-items: center;
  padding: 2px 7px;
}
.Button:hover, .ButtonCollapse:hover {
  background-color: rgb(104, 136, 252, 0.4);
}
.Button span {
  margin-right: 5px;
}
.Link {
  text-decoration: none;
}
.ButtonCollapse {
  margin: 10px 0 8px 12px;
  background-color: inherit;
  color: #eee;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  font-size: 15px;
  display: flex;
  align-items: center;
  padding: 2px 7px;
}
