.NavBar {
  position: fixed;
  left: 0;
  top: 0;
  width: 240px;
  height: 100%;
  background-color: rgb(27, 26, 31);
  transition: all 0.3s;
}
.NavBarClose {
  transform: translateX(-100%);
}
.NavBarCollapse {
  transition: all 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgb(27, 26, 31);
  width: 55px;
  z-index: 2;
}
.Title {
  display: flex;
  align-items: center;
  padding-left: 17px;
  padding-top: 10px;
  width: 100%;
  height: 30.5px;
  font-size: 20px;
  color: rgb(104, 136, 252);
  font-weight: bold;
  cursor: default;
}
.DemoTitle {
  display: flex;
  align-items: center;
  padding-left: 23px;
  padding-top: 10px;
  width: 100%;
  height: 30.5px;
  font-size: 20px;
  color: rgb(104, 136, 252);
  font-weight: bold;
  cursor: default;
}
.UserInfo {
  width: 216px;
  margin: auto;
  margin-top: 5px;
  height: 31px;
  color: #eee;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.UserInfo button {
  background-color: inherit;
  border: 0;
  color: rgb(173, 172, 180, 1);
  display: flex;
  align-items: center;
}
.UserInfo button:hover {
  color: #eee;
}
.UserInfo span {
  max-width: 182px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
}
.UserInfo div {
  display: flex;
  margin-left: 10px;
}
.NavLinks {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 262px);
}
.NavLinks::-webkit-scrollbar {
  width: 10px;
}
.NavLinks::-webkit-scrollbar-track {
  background-color: inherit;
}
.NavLinks::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}
.NavLinks div {
  width: 100%;
  margin: 0;
  color: #eee;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.NavLinks div:hover {
  background-color: rgb(86, 86, 97, 0.5);
}
.NavLinksOuter span {
  display: flex;
  align-items: center;
  margin-right: 7px;
}
.NavBarCaret {
  transition: all 0.2s;
}
.NavBarCaretRight {
  transform: rotate(0deg);
}
.NavBarCaretDown {
  transform: rotate(90deg);
}
.NavLinksOuter {
  font-size: 14px;
}
.NavLinksInner {
  overflow: hidden;
  max-height: 0;
  font-size: 13px;
  transition: max-height 0.4s;
}
.InnerIcons {
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.InnerText {
  margin-left: 7px;
  max-width: 170px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.PersonIcon {
  margin-left: 10px;
}
.ContractSearchIcon {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.ContractSearchIcon span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  cursor: pointer;
  color: #eee;
  background-color: rgb(86, 86, 97);
}
.NavLinksCollapse div {
  cursor: pointer;
  width: 38px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 17px;
}
.NavLinksCollapse div:hover {
  background-color: rgb(86, 86, 97, 0.5);
}
.NavLinksCollapse span {
  color: #eee;
}
.AccountBtn {
  background-color: inherit;
  border: 0;
  color: rgb(173, 172, 180);
  position: relative;
  left: -1px;
  margin: 5px 0 9px 0;
}
.AccountBtn:hover {
  color: #eee;
}
@media (max-width: 850px) {
  .NavBar {
    width: 200px;
  }
  .InnerText {
    max-width: 130px;
  }
  .UserInfo {
    width: 176px;
  }
  .UserInfo span {
    max-width: 142px;
  }
}
@media (max-width: 500px) {
  .NavBar {
    width: 195px;
  }
}
