.DeleteNotebook {
  position: fixed;
  top: 130px;
  left: 384px;
  width: 512px;
  height: 150px;
  border-radius: 3px;
  background-color: white;
  box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.25);
  padding-top: 12px;
}
.DeleteNotebookTitle {
  font-size: 20px;
  font-weight: 500;
  color: rgb(55, 55, 55);
  margin: auto 20px;
  padding: 0 5px 10px 10px;
  border-bottom: 1px solid rgb(173, 172, 180, 0.4);
}
.DeleteNotebookBtn {
  border: 0;
  margin-right: 20px;
  padding: 5px 13px;
  font-size: 16px;
  float: right;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
.DeleteNotebookTitle span {
  float: right;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.DeleteNotebookTitle span:hover {
  background-color: rgb(173, 172, 180, 0.5);
}
.DeleteNotebookBody {
  margin: 20px 20px 0 20px;
  padding: 0 5px 10px 10px;
  font-weight: 350;
}
.DeleteNotebookBodyTitle {
  display: inline-block;
  position: relative;
  top: 4px;
  max-width: 320px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
