.ContentExpanded {
  width: 1280px;
  height: 498px;
  overflow-y: auto;
  overflow-x: hidden;
}
.ContentContracted {
  width: 1040px;
  height: 498px;
  overflow-y: auto;
}
.Expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s;
  transform: translateX(0%);
}
.Collapsed {
  position: fixed;
  top: 0;
  left: 55px;
  width: 100%;
}
.Contracted {
  position: fixed;
  top: 0;
  left: 240px;
  width: 100%;
}
.Contracted h1 {
  color: rgb(104, 136, 252);
  text-align: center;
  margin-right: 240px;
  position: relative;
  top: -20px;
}
.Expanded h1 {
  color: rgb(104, 136, 252);
  text-align: center;
  position: relative;
  top: -20px;
}
.Collapsed h1 {
  color: rgb(104, 136, 252);
  text-align: center;
  margin-right: 55px;
  position: relative;
  top: -20px;
}
.Timer {
  height: auto;
  margin: auto;
  margin-top: 50px;
  padding-left: 10px;
  width: 500px;
}
.Collapsed .Timer {
  margin-right: 175px;
}
.TimerDropdown {
  width: 100%;
  display: flex;
  justify-content: center;
}
.TimerDropdown div {
  font-weight: bold;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.TimerDropdown input {
  margin: 5px 5px 70.5px 5px;
  width: 70px;
  height: 30px;
  font-size: 17px;
}
