.ContentExpanded {
  width: 1280px;
  height: 498px;
  overflow-y: auto;
  overflow-x: hidden;
}
.ContentContracted {
  width: 1040px;
  height: 498px;
  overflow-y: auto;
}
.Expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s;
  transform: translateX(0%);
}
.Collapsed {
  position: fixed;
  top: 0;
  left: 55px;
  width: 100%;
}
.Contracted {
  position: fixed;
  top: 0;
  left: 240px;
  width: 100%;
}
.Contracted h1 {
  color: rgb(104, 136, 252);
  text-align: center;
  margin-right: 240px;
  position: relative;
  top: -20px;
}
.Expanded h1 {
  color: rgb(104, 136, 252);
  text-align: center;
  position: relative;
  top: -20px;
}
.Collapsed h1 {
  color: rgb(104, 136, 252);
  text-align: center;
  margin-right: 55px;
  position: relative;
  top: -20px;
}
.Pomodoro {
  height: auto;
  margin: auto;
  margin-top: 50px;
  padding-left: 10px;
  width: 500px;
}
.Collapsed .Pomodoro {
  margin-right: 175px;
}
.PomodoroBtns {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.PomodoroBtns button {
  height: 30px;
  width: 100px;
  border: 1px solid black;
  margin: auto 10px;
  border-radius: 5px;
  background-color: #eee;
  cursor: pointer;
}
.PomodoroBtns button:hover {
  background-color: #ddd;
}
.Pomodoro h2 {
  text-align: center;
}
