.Pomodoro {
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  width: 500px;
}
.PomodoroBtns {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.PomodoroBtns button {
  height: 30px;
  width: 100px;
  border: 1px solid black;
  margin: auto 10px;
  border-radius: 5px;
  background-color: #eee;
  cursor: pointer;
}
.PomodoroBtns button:hover {
  background-color: #ddd;
}
.Pomodoro h2 {
  text-align: center;
}
@media (max-width: 600px) {
  .Pomodoro {
    width: 400px;
  }
}
@media (max-width: 500px) {
  .Pomodoro {
    width: 300px;
  }
  .PomodoroBtns button {
    font-size: 12px;
    width: 120px;
  }
  .Pomodoro h2 {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .Pomodoro {
    width: 250px;
  }
  .PomodoroBtns button {
    font-size: 11px;
  }
  .Pomodoro h2 {
    font-size: 17px;
  }
}
@media (max-width: 330px) {
  .Pomodoro {
    width: 200px;
  }
  .Pomodoro h2 {
    font-size: 14px;
  }
}
