.Hidden {
  display: none;
}
.Toolbar {
  border: 0;
  position: absolute;
  top: 60px;
  left: -25px;
  transform: scale(0.9);
  z-index: 100;
}
@media (max-width: 1150px) {
  .Toolbar {
    left: -53px;
    width: 585px;
    transform: scale(0.8);
    z-index: 100;
  }
}
.Toolbar:hover {
  background-color: rgb(255, 255, 254);
}
.TitleEditor {
  margin: -40px 40px -35px 3px;
  font-size: 30px;
  font-weight: 500;
  overflow-x: hidden;
}
.BodyEditor {
  overflow-x: hidden;
  margin-left: 3px;
  margin-right: 40px;
  font-size: 16px;
}
.ColorPicker {
  transform: translateX(-50px);
}
.Emoji {
  transform: translateX(-150px);
}
