.ControlBtns {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.ControlBtns button {
  height: 50px;
  width: 100px;
  margin: 10px;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #eee;
  cursor: pointer;
}
.ControlBtns button:hover {
  background-color: #ddd;
}
@media (max-width: 500px) {
  .ControlBtns {
    height: 50px;
  }
  .ControlBtns button {
    width: 80px;
    height: 40px;
    font-size: 15px;
  }
}
@media (max-width: 330px) {
  .ControlBtns {
    height: 40px;
  }
  .ControlBtns button {
    width: 70px;
    height: 35px;
    font-size: 14px;
  }
}
