.ErrorPanelTitle {
  font-size: 20px;
  font-weight: 500;
  color: rgb(55, 55, 55);
  margin: 10px 20px 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(173, 172, 180, 0.4);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ErrorPanelTitle span {
  margin-left: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ErrorPanelTitle span:hover {
  background-color: rgb(173, 172, 180, 0.5);
}
