.RenameNotebookTitle {
  font-size: 20px;
  font-weight: 500;
  color: rgb(55, 55, 55);
  border-bottom: 1px solid rgb(173, 172, 180, 0.4);
  margin: 0 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.RenameNotebookTitle div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.RenameNotebookTitle span {
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.RenameNotebookTitle span:hover {
  background-color: rgb(173, 172, 180, 0.5);
}
.RenameNotebookBtn {
  border: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px 13px;
  font-size: 16px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}
.RenameNotebookBtn:enabled {
  background-color: rgb(104, 136, 252, 0.6);
}
.RenameNotebookInput {
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  width: 430px;
  border: 1px solid rgb(173, 172, 180, 0.5);
  border-radius: 3px;
  width: 75%;
  margin: 20px auto 35px;
}
@media (max-width: 686px) {
  .RenameNotebookTitle {
    font-size: 18px;
  }
}
@media (max-width: 647px) {
  .RenameNotebookTitle {
    font-size: 16px;
  }
}
@media (max-width: 607px) {
  .RenameNotebookTitle {
    flex-direction: column;
    text-align: center;
  }
  .RenameNotebookTitle div {
    margin-top: 10px;
    justify-content: space-around;
  }
  .RenameNotebookBtn {
    margin-left: 0;
    margin-right: 0;
  }
  .RenameNotebookInput {
    margin-bottom: 15px;
  }
}
