.ContentExpanded {
  width: 100%;
  height: calc(100% - 105px);
}
.ContentContracted {
  height: calc(100% - 105px);
  width: 100%;
}
.Expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s;
  transform: translateX(0%);
  height: 100%;
}
.Collapsed {
  position: fixed;
  top: 0;
  left: 55px;
  height: 100%;
  width: calc(100% - 55px);
}
.Contracted {
  position: fixed;
  top: 0;
  left: 240px;
  height: 100%;
  width: calc(100% - 240px);
}
@media (max-width: 850px) {
  .Contracted {
    left: 200px;
    width: calc(100% - 200px);
  }
}
@media (max-width: 750px) {
  .Contracted {
    z-index: -1;
    left: 55px;
    width: calc(100% - 55px);
  }
}
