.ExpandBtn {
  position: absolute;
  top: 575px;
  left: 216px;
  background-color: rgb(86, 86, 97, 0.5);
  color: #ddd;
  padding: 4px;
  display: flex;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
}
.ExpandBtn span {
  display: flex;
}
.CollapseBtn span {
  display: flex;
  transform: rotate(180deg);
}
.CollapseBtn {
  position: absolute;
  top: 575px;
  left: 31px;
  background-color: rgb(86, 86, 97, 0.5);
  color: #ddd;
  padding: 4px;
  display: flex;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
}
.ExpandBtn:hover, .CollapseBtn:hover {
  color: white;
}
