.Title h1 {
  color: rgb(104, 136, 252);
  margin: 0;
  text-align: center;
}
.Title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.DetailHeader {
  z-index: -1;
  width: 100%;
  height: 105px;
  border-bottom: 1px solid #eee;
}
.HeaderBtn {
  display: flex;
  align-items: center;
}
.ExpandBtn {
  height: 25px;
  width: 25px;
  margin: 12px;
  border: 0;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  background-color: #eee;
  cursor: pointer;
  transition: 0.3s ease-out;
  font-size: 13px;
}
.ExpandBtn span {
  display: flex;
}
.ExpandBtn:hover {
  background-color: rgb(173, 172, 180, 0.4);
}
@media (max-width: 400px) {
  .Title h1 {
    z-index: -1;
    margin-top: 12px;
    font-size: 25px;
  }
}
